<header>
    <div class="content">
        <a href="/" class="material-icons">
            arrow_back
        </a> {{info.title}}
    </div>
</header>
<div class="content">
    <div class="preview">
        <img src="https://storage.googleapis.com/planet-express/flutter_bucket/{{env.REVISION}}/Pixel2-26-en-portrait/artifacts/{{id}}.jpg" />
    </div>
    <pre><code class="dart">
{{code}}
    </code></pre>
    <div class="copyright">
        Made by <a href="https://twitter.com/abeisgreat" target="_blank">@abeisgreat</a>
    </div>
</div>